openapi: "3.0.3"
info:
  title: Documentation.AI Content API
  description: "Programmatic access to read and update your documentation, publish deployments, manage media files, and read analytics.\n\nEach API key is scoped to a single documentation project and carries a role — viewer, editor, or admin — that determines which endpoints it can reach. Because the key identifies the project, no endpoint takes a project identifier.\n\nAll dates are UTC. Timestamps are ISO 8601 strings."
  version: "1.0.0"
  contact:
    name: Documentation.AI Support
    url: https://documentation.ai
servers:
  - url: https://api.documentationai.app/api/v1
    description: Production
security:
  - apiKey: []
tags:
  - name: Configuration
  - name: Pages
  - name: Search
  - name: Branches
  - name: Pull Requests
  - name: Push
  - name: Deployments
  - name: PDF Export
  - name: Analytics
  - name: Media
    description: Upload, list, update, replace, and delete media files
  - name: Storage
    description: Organization storage usage and quota
paths:
  /config:
    get:
      operationId: getConfig
      description: Returns documentation project configuration for a branch.
      tags:
        - Configuration
      parameters:
        - $ref: "#/components/parameters/Branch"
      responses:
        "200":
          description: Project configuration.
          content:
            application/json:
              schema:
                type: object
                required:
                  - branch
                  - config
                properties:
                  branch:
                    type: string
                  config:
                    type: object
                    additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
  /search:
    get:
      operationId: searchDocumentation
      description: Searches documentation content.
      tags:
        - Search
      parameters:
        - name: q
          in: query
          required: true
          description: Search query.
          schema:
            type: string
            minLength: 1
        - name: limit
          in: query
          description: Maximum number of results.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: semanticRatio
          in: query
          description: Ratio of semantic search to lexical search.
          schema:
            type: number
            minimum: 0
            maximum: 1
      responses:
        "200":
          description: Search results.
          content:
            application/json:
              schema:
                type: object
                required:
                  - results
                properties:
                  results:
                    type: array
                    items:
                      $ref: "#/components/schemas/SearchResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /pages:
    get:
      operationId: listPages
      description: Lists documentation pages for a branch.
      tags:
        - Pages
      parameters:
        - $ref: "#/components/parameters/Branch"
      responses:
        "200":
          description: Documentation pages.
          content:
            application/json:
              schema:
                type: object
                required:
                  - pages
                  - count
                properties:
                  pages:
                    type: array
                    items:
                      $ref: "#/components/schemas/Page"
                  count:
                    type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"
  /pages/{path}:
    get:
      operationId: getPage
      description: Returns a documentation page by path.
      tags:
        - Pages
      parameters:
        - name: path
          in: path
          required: true
          description: Documentation page path.
          schema:
            type: string
            minLength: 1
        - name: branch
          in: query
          description: Branch containing the page.
          schema:
            type: string
      responses:
        "200":
          description: Documentation page.
          content:
            application/json:
              schema:
                type: object
                required:
                  - path
                  - branch
                  - content
                properties:
                  path:
                    type: string
                  branch:
                    type: string
                  content:
                    type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /branches:
    get:
      operationId: listBranches
      description: Lists repository branches.
      tags:
        - Branches
      responses:
        "200":
          description: Repository branches.
          content:
            application/json:
              schema:
                type: object
                required:
                  - branches
                properties:
                  branches:
                    type: array
                    items:
                      $ref: "#/components/schemas/Branch"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: createBranch
      description: Creates a repository branch.
      tags:
        - Branches
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - branchName
              properties:
                branchName:
                  type: string
                sourceBranch:
                  type: string
              additionalProperties: false
      responses:
        "201":
          description: Branch created.
          content:
            application/json:
              schema:
                type: object
                required:
                  - branchName
                  - sourceBranch
                  - sourceSha
                properties:
                  branchName:
                    type: string
                  sourceBranch:
                    type: string
                  sourceSha:
                    type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /branches/delete:
    post:
      operationId: deleteBranch
      description: Deletes a repository branch.
      tags:
        - Branches
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - branchName
              properties:
                branchName:
                  type: string
              additionalProperties: false
      responses:
        "200":
          description: Branch deleted.
          content:
            application/json:
              schema:
                type: object
                required:
                  - deleted
                properties:
                  deleted:
                    type: boolean
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /branches/merge:
    post:
      operationId: mergeBranches
      description: Merges one repository branch into another.
      tags:
        - Branches
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - base
                - head
              properties:
                base:
                  type: string
                head:
                  type: string
                commitMessage:
                  type: string
              additionalProperties: false
      responses:
        "200":
          description: Branches merged.
          content:
            application/json:
              schema:
                type: object
                required:
                  - commitSha
                  - status
                properties:
                  commitSha:
                    type: string
                  status:
                    type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /pull-requests:
    get:
      operationId: listPullRequests
      description: Lists pull requests.
      tags:
        - Pull Requests
      parameters:
        - name: state
          in: query
          description: Pull request state.
          schema:
            type: string
            enum:
              - open
              - closed
              - all
      responses:
        "200":
          description: Pull requests.
          content:
            application/json:
              schema:
                type: object
                required:
                  - pullRequests
                properties:
                  pullRequests:
                    type: array
                    items:
                      $ref: "#/components/schemas/PullRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /push:
    post:
      operationId: pushFiles
      description: Commits file operations to a branch.
      tags:
        - Push
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - commitMessage
                - operations
              properties:
                commitMessage:
                  type: string
                operations:
                  type: array
                  maxItems: 20
                  items:
                    type: object
                    additionalProperties: true
              additionalProperties: false
      responses:
        "201":
          description: Files pushed.
          content:
            application/json:
              schema:
                type: object
                required:
                  - commitSha
                  - branch
                  - isDeploymentBranch
                  - operationsCompleted
                properties:
                  commitSha:
                    type: string
                  branch:
                    type: string
                  isDeploymentBranch:
                    type: boolean
                  operationsCompleted:
                    type: integer
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /deploy:
    post:
      operationId: triggerDeployment
      description: Queues a deployment.
      tags:
        - Deployments
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                commitSha:
                  type: string
              additionalProperties: false
      responses:
        "202":
          description: Deployment queued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueuedDeployment"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /deploy/preview:
    post:
      operationId: triggerPreviewDeployment
      description: Queues a preview deployment for a branch.
      tags:
        - Deployments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - branch
              properties:
                branch:
                  type: string
                commitSha:
                  type: string
              additionalProperties: false
      responses:
        "202":
          description: Preview deployment queued.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/QueuedDeployment"
                  - type: object
                    required:
                      - branch
                    properties:
                      branch:
                        type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /deployments:
    get:
      operationId: listDeployments
      description: Lists deployments.
      tags:
        - Deployments
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Offset"
      responses:
        "200":
          description: Deployments.
          content:
            application/json:
              schema:
                type: object
                required:
                  - deployments
                  - total
                properties:
                  deployments:
                    type: array
                    items:
                      $ref: "#/components/schemas/Deployment"
                  total:
                    type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /deployments/{deploymentId}:
    get:
      operationId: getDeployment
      description: Returns a deployment by ID.
      tags:
        - Deployments
      parameters:
        - $ref: "#/components/parameters/DeploymentId"
      responses:
        "200":
          description: Deployment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deployment"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /exports/pdf:
    post:
      operationId: requestPdfExport
      description: Requests a PDF export.
      tags:
        - PDF Export
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                force:
                  type: boolean
              additionalProperties: false
      responses:
        "200":
          description: PDF export status.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PdfExport"
        "202":
          description: PDF export accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PdfExport"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
    get:
      operationId: getPdfExport
      description: Returns the current PDF export status.
      tags:
        - PDF Export
      responses:
        "200":
          description: PDF export status.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PdfExport"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /analytics/overview:
    get:
      operationId: getAnalyticsOverview
      description: Returns an analytics overview for a date range.
      tags:
        - Analytics
      parameters:
        - $ref: "#/components/parameters/StartDate"
        - $ref: "#/components/parameters/EndDate"
      responses:
        "200":
          description: Analytics overview.
          content:
            application/json:
              schema:
                type: object
                required:
                  - startDate
                  - endDate
                  - pageViews
                  - sessions
                properties:
                  startDate:
                    type: string
                    format: date
                  endDate:
                    type: string
                    format: date
                  pageViews:
                    type: integer
                  sessions:
                    type: integer
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "502":
          $ref: "#/components/responses/AnalyticsUnavailable"
  /analytics/traffic:
    get:
      operationId: getAnalyticsTraffic
      description: Returns traffic over time.
      tags:
        - Analytics
      parameters:
        - $ref: "#/components/parameters/StartDate"
        - $ref: "#/components/parameters/EndDate"
      responses:
        "200":
          description: Traffic series.
          content:
            application/json:
              schema:
                type: object
                required:
                  - series
                properties:
                  series:
                    type: array
                    items:
                      $ref: "#/components/schemas/TrafficPoint"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "502":
          $ref: "#/components/responses/AnalyticsUnavailable"
  /analytics/pages:
    get:
      operationId: getAnalyticsPages
      description: Returns page analytics.
      tags:
        - Analytics
      parameters:
        - $ref: "#/components/parameters/StartDate"
        - $ref: "#/components/parameters/EndDate"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Page analytics.
          content:
            application/json:
              schema:
                type: object
                required:
                  - pages
                properties:
                  pages:
                    type: array
                    items:
                      $ref: "#/components/schemas/AnalyticsPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "502":
          $ref: "#/components/responses/AnalyticsUnavailable"
  /analytics/referrers:
    get:
      operationId: getAnalyticsReferrers
      description: Returns traffic referrer analytics.
      tags:
        - Analytics
      parameters:
        - $ref: "#/components/parameters/StartDate"
        - $ref: "#/components/parameters/EndDate"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Referrer analytics.
          content:
            application/json:
              schema:
                type: object
                required:
                  - referrers
                properties:
                  referrers:
                    type: array
                    items:
                      $ref: "#/components/schemas/AnalyticsEntry"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "502":
          $ref: "#/components/responses/AnalyticsUnavailable"
  /analytics/feedback:
    get:
      operationId: getAnalyticsFeedback
      description: Returns page feedback analytics.
      tags:
        - Analytics
      parameters:
        - $ref: "#/components/parameters/StartDate"
        - $ref: "#/components/parameters/EndDate"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Offset"
        - name: pathContains
          in: query
          description: Filters page paths.
          schema:
            type: string
        - name: sortBy
          in: query
          description: Field used to sort results.
          schema:
            type: string
        - name: sortOrder
          in: query
          description: Sort direction.
          schema:
            type: string
            enum:
              - asc
              - desc
      responses:
        "200":
          description: Feedback analytics.
          content:
            application/json:
              schema:
                type: object
                required:
                  - pages
                  - summary
                  - total
                properties:
                  pages:
                    type: array
                    items:
                      $ref: "#/components/schemas/AnalyticsEntry"
                  summary:
                    type: object
                    additionalProperties: true
                  total:
                    type: integer
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "502":
          $ref: "#/components/responses/AnalyticsUnavailable"
  /analytics/feedback/comments:
    get:
      operationId: getAnalyticsFeedbackComments
      description: Returns feedback comments for a page.
      tags:
        - Analytics
      parameters:
        - name: pagePath
          in: query
          required: true
          description: Page path.
          schema:
            type: string
            minLength: 1
        - $ref: "#/components/parameters/StartDate"
        - $ref: "#/components/parameters/EndDate"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Offset"
      responses:
        "200":
          description: Feedback comments.
          content:
            application/json:
              schema:
                type: object
                required:
                  - comments
                  - total
                properties:
                  comments:
                    type: array
                    items:
                      $ref: "#/components/schemas/AnalyticsEntry"
                  total:
                    type: integer
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "502":
          $ref: "#/components/responses/AnalyticsUnavailable"
  /analytics/ai/questions:
    get:
      operationId: getAnalyticsAiQuestions
      description: Returns AI question analytics.
      tags:
        - Analytics
      parameters:
        - $ref: "#/components/parameters/StartDate"
        - $ref: "#/components/parameters/EndDate"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Offset"
        - name: sessionId
          in: query
          description: Filters by session ID.
          schema:
            type: string
        - name: maxConfidence
          in: query
          description: Maximum confidence threshold.
          schema:
            type: number
            minimum: 0
            maximum: 1
      responses:
        "200":
          description: AI questions.
          content:
            application/json:
              schema:
                type: object
                required:
                  - questions
                  - total
                properties:
                  questions:
                    type: array
                    items:
                      $ref: "#/components/schemas/AnalyticsEntry"
                  total:
                    type: integer
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "502":
          $ref: "#/components/responses/AnalyticsUnavailable"
  /analytics/ai/answer-feedback:
    get:
      operationId: getAnalyticsAiAnswerFeedback
      description: Returns feedback on AI answers.
      tags:
        - Analytics
      parameters:
        - $ref: "#/components/parameters/StartDate"
        - $ref: "#/components/parameters/EndDate"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Offset"
      responses:
        "200":
          description: AI answer feedback.
          content:
            application/json:
              schema:
                type: object
                required:
                  - entries
                  - summary
                  - total
                properties:
                  entries:
                    type: array
                    items:
                      $ref: "#/components/schemas/AnalyticsEntry"
                  summary:
                    type: object
                    additionalProperties: true
                  total:
                    type: integer
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "502":
          $ref: "#/components/responses/AnalyticsUnavailable"
  /analytics/ai/volume:
    get:
      operationId: getAnalyticsAiVolume
      description: Returns AI usage volume over time.
      tags:
        - Analytics
      parameters:
        - $ref: "#/components/parameters/StartDate"
        - $ref: "#/components/parameters/EndDate"
      responses:
        "200":
          description: AI usage volume.
          content:
            application/json:
              schema:
                type: object
                required:
                  - series
                properties:
                  series:
                    type: array
                    items:
                      $ref: "#/components/schemas/AnalyticsEntry"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "502":
          $ref: "#/components/responses/AnalyticsUnavailable"
  /analytics/search:
    get:
      operationId: getAnalyticsSearch
      description: Returns search analytics.
      tags:
        - Analytics
      parameters:
        - $ref: "#/components/parameters/StartDate"
        - $ref: "#/components/parameters/EndDate"
      responses:
        "200":
          description: Search analytics.
          content:
            application/json:
              schema:
                type: object
                required:
                  - totalSearches
                  - sessions
                  - noResultRate
                  - clickThroughRate
                properties:
                  totalSearches:
                    type: integer
                  sessions:
                    type: integer
                  noResultRate:
                    type: number
                  clickThroughRate:
                    type: number
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "502":
          $ref: "#/components/responses/AnalyticsUnavailable"
  /analytics/search/volume:
    get:
      operationId: getAnalyticsSearchVolume
      description: Returns search volume over time.
      tags:
        - Analytics
      parameters:
        - $ref: "#/components/parameters/StartDate"
        - $ref: "#/components/parameters/EndDate"
      responses:
        "200":
          description: Search volume.
          content:
            application/json:
              schema:
                type: object
                required:
                  - series
                properties:
                  series:
                    type: array
                    items:
                      $ref: "#/components/schemas/TrafficPoint"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "502":
          $ref: "#/components/responses/AnalyticsUnavailable"
  /analytics/search/queries:
    get:
      operationId: getAnalyticsSearchQueries
      description: Returns search query analytics.
      tags:
        - Analytics
      parameters:
        - $ref: "#/components/parameters/StartDate"
        - $ref: "#/components/parameters/EndDate"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Offset"
        - name: noResultsOnly
          in: query
          description: Restricts results to queries with no results.
          schema:
            type: boolean
      responses:
        "200":
          description: Search queries.
          content:
            application/json:
              schema:
                type: object
                required:
                  - queries
                  - total
                properties:
                  queries:
                    type: array
                    items:
                      $ref: "#/components/schemas/AnalyticsEntry"
                  total:
                    type: integer
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "502":
          $ref: "#/components/responses/AnalyticsUnavailable"
  /analytics/search/results:
    get:
      operationId: getAnalyticsSearchResults
      description: Returns pages selected from search results.
      tags:
        - Analytics
      parameters:
        - $ref: "#/components/parameters/StartDate"
        - $ref: "#/components/parameters/EndDate"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Search result analytics.
          content:
            application/json:
              schema:
                type: object
                required:
                  - pages
                  - total
                properties:
                  pages:
                    type: array
                    items:
                      $ref: "#/components/schemas/AnalyticsPage"
                  total:
                    type: integer
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "502":
          $ref: "#/components/responses/AnalyticsUnavailable"
  /media:
    get:
      operationId: listMedia
      summary: List media files
      description: Returns media files in the media library. Filter by kind or search by name.
      tags:
        - Media
      parameters:
        - name: search
          in: query
          description: Matches file name and alternative text.
          schema:
            type: string
        - name: kind
          in: query
          description: Media kind.
          schema:
            type: string
            enum:
              - image
              - video
              - audio
              - document
              - data
              - archive
              - font
        - name: page
          in: query
          description: Page number.
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          description: Number of files per page.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "200":
          description: Media files.
          content:
            application/json:
              schema:
                type: object
                required:
                  - media
                  - pagination
                properties:
                  media:
                    type: array
                    items:
                      $ref: "#/components/schemas/Media"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: uploadMedia
      summary: Upload media files
      description: Uploads one or more files via multipart/form-data. Up to 10 files. Files with the same content hash are returned as reused. Requires editor or admin role.
      tags:
        - Media
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - files
              properties:
                files:
                  type: array
                  maxItems: 10
                  items:
                    type: string
                    format: binary
      responses:
        "200":
          description: Media upload results.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileResults"
        "207":
          description: Mixed media upload results.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileResults"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "413":
          $ref: "#/components/responses/RequestEntityTooLarge"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "507":
          $ref: "#/components/responses/StorageFull"
  /media/import:
    post:
      operationId: importMedia
      summary: Import media from URLs
      description: Imports files from public HTTPS URLs. Up to 10 files. Same deduplication and plan-limit rules as upload. Requires editor or admin role.
      tags:
        - Media
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - files
              properties:
                files:
                  type: array
                  minItems: 1
                  maxItems: 10
                  items:
                    type: object
                    required:
                      - url
                    properties:
                      url:
                        type: string
                        minLength: 1
                      name:
                        type: string
                        minLength: 1
                        maxLength: 255
                      altText:
                        type: string
                        maxLength: 1000
                    additionalProperties: false
              additionalProperties: false
      responses:
        "200":
          description: Media import results.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileResults"
        "207":
          description: Mixed media import results.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileResults"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "413":
          $ref: "#/components/responses/RequestEntityTooLarge"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "507":
          $ref: "#/components/responses/StorageFull"
  /media/bulk-delete:
    post:
      operationId: bulkDeleteMedia
      summary: Delete multiple media files
      description: Deletes up to 100 media files. Individual failures reported in response. Requires admin role.
      tags:
        - Media
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - mediaIds
              properties:
                mediaIds:
                  type: array
                  minItems: 1
                  maxItems: 100
                  items:
                    type: string
                    minLength: 1
              additionalProperties: false
      responses:
        "200":
          description: Bulk deletion results.
          content:
            application/json:
              schema:
                type: object
                required:
                  - deleted
                  - failed
                  - reclaimedBytes
                properties:
                  deleted:
                    type: array
                    items:
                      type: string
                  failed:
                    type: array
                    items:
                      type: object
                      required:
                        - source
                        - error
                      properties:
                        source:
                          type: string
                        error:
                          type: string
                  reclaimedBytes:
                    type: integer
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /media/{mediaId}:
    get:
      operationId: getMedia
      summary: Get a media file
      description: Returns a single media file by its ID.
      tags:
        - Media
      parameters:
        - $ref: "#/components/parameters/MediaId"
      responses:
        "200":
          description: Media file.
          content:
            application/json:
              schema:
                type: object
                required:
                  - media
                properties:
                  media:
                    $ref: "#/components/schemas/Media"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    patch:
      operationId: updateMedia
      summary: Update media metadata
      description: Updates the alternative text for a media file. Requires editor or admin role.
      tags:
        - Media
      parameters:
        - $ref: "#/components/parameters/MediaId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - altText
              properties:
                altText:
                  type: string
                  maxLength: 1000
              additionalProperties: false
      responses:
        "200":
          description: Updated media file.
          content:
            application/json:
              schema:
                type: object
                required:
                  - media
                properties:
                  media:
                    $ref: "#/components/schemas/Media"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    delete:
      operationId: deleteMedia
      summary: Delete a media file
      description: Permanently deletes a media file. Requires admin role.
      tags:
        - Media
      parameters:
        - $ref: "#/components/parameters/MediaId"
      responses:
        "200":
          description: Deleted media file.
          content:
            application/json:
              schema:
                type: object
                required:
                  - deleted
                properties:
                  deleted:
                    $ref: "#/components/schemas/Media"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /media/{mediaId}/replace:
    post:
      operationId: replaceMedia
      summary: Replace a media file
      description: Replaces stored content while keeping ID and URL stable. Accepts multipart or JSON body with URL. Requires editor or admin role.
      tags:
        - Media
      parameters:
        - $ref: "#/components/parameters/MediaId"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
          application/json:
            schema:
              type: object
              required:
                - url
              properties:
                url:
                  type: string
              additionalProperties: false
      responses:
        "200":
          description: Replaced media file.
          content:
            application/json:
              schema:
                type: object
                required:
                  - media
                properties:
                  media:
                    $ref: "#/components/schemas/Media"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "413":
          $ref: "#/components/responses/RequestEntityTooLarge"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "507":
          $ref: "#/components/responses/StorageFull"
  /storage:
    get:
      operationId: getStorage
      summary: Get storage usage
      description: Returns the organization storage usage and quota.
      tags:
        - Storage
      responses:
        "200":
          description: Storage usage.
          content:
            application/json:
              schema:
                type: object
                required:
                  - usedBytes
                  - quotaBytes
                properties:
                  usedBytes:
                    type: integer
                  quotaBytes:
                    type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
components:
  securitySchemes:
    apiKey:
      type: http
      scheme: bearer
      description: Bearer authentication using API keys created in the Documentation.AI dashboard.
  responses:
    BadRequest:
      description: Invalid request.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: Missing or invalid authentication.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Forbidden:
      description: Insufficient permissions.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Conflict:
      description: Resource conflict.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    UnprocessableEntity:
      description: Semantic validation error.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    TooManyRequests:
      description: Rate limit exceeded.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    RequestEntityTooLarge:
      description: Request entity is too large.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    UnsupportedMediaType:
      description: Unsupported media type.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    StorageFull:
      description: Storage quota exceeded.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    ServiceUnavailable:
      description: Service unavailable.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    AnalyticsUnavailable:
      description: Analytics provider unavailable.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
  parameters:
    Branch:
      name: branch
      in: query
      description: Branch name.
      schema:
        type: string
    Limit:
      name: limit
      in: query
      description: Maximum number of results.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    Offset:
      name: offset
      in: query
      description: Number of results to skip.
      schema:
        type: integer
        minimum: 0
        default: 0
    StartDate:
      name: startDate
      in: query
      required: true
      description: Start date in UTC.
      schema:
        type: string
        format: date
    EndDate:
      name: endDate
      in: query
      required: true
      description: End date in UTC.
      schema:
        type: string
        format: date
    DeploymentId:
      name: deploymentId
      in: path
      required: true
      description: Deployment identifier.
      schema:
        type: string
        minLength: 1
    MediaId:
      name: mediaId
      in: path
      required: true
      description: Media file identifier.
      schema:
        type: string
        minLength: 1
  schemas:
    Error:
      type: object
      required:
        - message
      properties:
        message:
          type: string
        code:
          type: string
        details:
          type: object
          additionalProperties: true
    SearchResult:
      type: object
      additionalProperties: true
    Page:
      type: object
      additionalProperties: true
    Branch:
      type: object
      additionalProperties: true
    PullRequest:
      type: object
      additionalProperties: true
    QueuedDeployment:
      type: object
      additionalProperties: true
    Deployment:
      type: object
      additionalProperties: true
    PdfExport:
      type: object
      additionalProperties: true
    TrafficPoint:
      type: object
      required:
        - date
        - pageViews
        - sessions
      properties:
        date:
          type: string
          format: date
        pageViews:
          type: integer
        sessions:
          type: integer
    AnalyticsPage:
      type: object
      additionalProperties: true
    AnalyticsEntry:
      type: object
      additionalProperties: true
    Media:
      type: object
      required:
        - id
        - name
        - url
        - kind
      properties:
        id:
          type: string
        name:
          type: string
        url:
          type: string
          format: uri
        kind:
          type: string
          enum:
            - image
            - video
            - audio
            - document
            - data
            - archive
            - font
        altText:
          type: string
        sizeBytes:
          type: integer
        contentType:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    Pagination:
      type: object
      required:
        - page
        - limit
        - total
        - totalPages
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer
    FileResults:
      type: object
      required:
        - results
      properties:
        results:
          type: array
          items:
            $ref: "#/components/schemas/FileResult"
    FileResult:
      type: object
      additionalProperties: true
    components:
      type: object
      additionalProperties: true
    media:
      type: object
      additionalProperties: true
    analytics:
      type: object
      additionalProperties: true
    Metadata:
      type: object
      additionalProperties: true
    Storage:
      type: object
      additionalProperties: true
    Config:
      type: object
      additionalProperties: true
    Feedback:
      type: object
      additionalProperties: true
    AiQuestion:
      type: object
      additionalProperties: true
    SearchAnalytics:
      type: object
      additionalProperties: true
    deployment:
      type: object
      additionalProperties: true
    Export:
      type: object
      additionalProperties: true
    Organization:
      type: object
      additionalProperties: true
    User:
      type: object
      additionalProperties: true
    Project:
      type: object
      additionalProperties: true
    Repository:
      type: object
      additionalProperties: true
    Commit:
      type: object
      additionalProperties: true
    Operation:
      type: object
      additionalProperties: true
    Comment:
      type: object
      additionalProperties: true
    Result:
      type: object
      additionalProperties: true
    Summary:
      type: object
      additionalProperties: true
    Query:
      type: object
      additionalProperties: true
    Referrer:
      type: object
      additionalProperties: true
    Session:
      type: object
      additionalProperties: true
    Metric:
      type: object
      additionalProperties: true
    Statistic:
      type: object
      additionalProperties: true
    Resource:
      type: object
      additionalProperties: true
    File:
      type: object
      additionalProperties: true
    Url:
      type: string
      format: uri
    DateRange:
      type: object
      required:
        - startDate
        - endDate
      properties:
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
    Identifier:
      type: string
      minLength: 1
    Timestamp:
      type: string
      format: date-time
    Count:
      type: integer
      minimum: 0
    Rate:
      type: number
      minimum: 0
      maximum: 1
    Name:
      type: string
      minLength: 1
    UrlReference:
      type: object
      required:
        - url
      properties:
        url:
          type: string
          format: uri
    FileUpload:
      type: string
      format: binary
    BooleanResult:
      type: object
      required:
        - deleted
      properties:
        deleted:
          type: boolean
    StringList:
      type: array
      items:
        type: string
    EmptyObject:
      type: object
      additionalProperties: false
    AnalyticsUnavailable:
      type: object
      additionalProperties: true
    StorageUsage:
      type: object
      required:
        - usedBytes
        - quotaBytes
      properties:
        usedBytes:
          type: integer
        quotaBytes:
          type: integer
    MediaId:
      type: string
      minLength: 1
    DeploymentStatus:
      type: string
    BranchName:
      type: string
    CommitSha:
      type: string
    PagePath:
      type: string
    SearchQuery:
      type: string
    Content:
      type: string
    FileName:
      type: string
    AlternativeText:
      type: string
    MediaKind:
      type: string
      enum:
        - image
        - video
        - audio
        - document
        - data
        - archive
        - font
    Role:
      type: string
      enum:
        - viewer
        - editor
        - admin
    SortOrder:
      type: string
      enum:
        - asc
        - desc
    PullRequestState:
      type: string
      enum:
        - open
        - closed
        - all
    DeploymentResult:
      type: object
      additionalProperties: true
    PdfDocument:
      type: object
      additionalProperties: true
    MediaList:
      type: array
      items:
        $ref: "#/components/schemas/Media"
    ErrorDetails:
      type: object
      additionalProperties: true
    FileError:
      type: object
      required:
        - source
        - error
      properties:
        source:
          type: string
        error:
          type: string
    BulkDeleteResult:
      type: object
      additionalProperties: true
    AnalyticsSeries:
      type: array
      items:
        $ref: "#/components/schemas/AnalyticsEntry"
    PaginationResult:
      type: object
      additionalProperties: true
    ImportFile:
      type: object
      required:
        - url
      properties:
        url:
          type: string
        name:
          type: string
        altText:
          type: string
    UploadRequest:
      type: object
      additionalProperties: true
    ReplaceRequest:
      type: object
      additionalProperties: true
    BranchRequest:
      type: object
      additionalProperties: true
    MergeRequest:
      type: object
      additionalProperties: true
    PushRequest:
      type: object
      additionalProperties: true
    DeploymentRequest:
      type: object
      additionalProperties: true
    PreviewDeploymentRequest:
      type: object
      additionalProperties: true
    PdfExportRequest:
      type: object
      additionalProperties: true
    FeedbackSummary:
      type: object
      additionalProperties: true
    SearchSummary:
      type: object
      additionalProperties: true
    Question:
      type: object
      additionalProperties: true
    AnswerFeedback:
      type: object
      additionalProperties: true
    VolumePoint:
      type: object
      additionalProperties: true
    ReferrerMetric:
      type: object
      additionalProperties: true
    PageMetric:
      type: object
      additionalProperties: true
    CommentMetric:
      type: object
      additionalProperties: true
    QueryMetric:
      type: object
      additionalProperties: true
    AnswerMetric:
      type: object
      additionalProperties: true
    Overview:
      type: object
      additionalProperties: true
    Traffic:
      type: object
      additionalProperties: true
    MediaMetadata:
      type: object
      additionalProperties: true
    Quota:
      type: object
      additionalProperties: true
    ApiResponse:
      type: object
      additionalProperties: true
    PaginationMetadata:
      type: object
      additionalProperties: true
    Status:
      type: string
    UUID:
      type: string
      format: uuid
    Email:
      type: string
      format: email
    ISODate:
      type: string
      format: date
    ISODateTime:
      type: string
      format: date-time
    URI:
      type: string
      format: uri
    NonEmptyString:
      type: string
      minLength: 1
    PositiveInteger:
      type: integer
      minimum: 1
    NonNegativeInteger:
      type: integer
      minimum: 0
    Percentage:
      type: number
      minimum: 0
      maximum: 100
    GenericObject:
      type: object
      additionalProperties: true
    GenericArray:
      type: array
      items:
        type: object
        additionalProperties: true
    Version:
      type: string
    Hash:
      type: string
    Token:
      type: string
    Message:
      type: string
    Code:
      type: string
    FileSize:
      type: integer
      minimum: 0
    MimeType:
      type: string
    Host:
      type: string
    Path:
      type: string
    Branch:
      type: string
    Limit:
      type: integer
    Offset:
      type: integer
    Date:
      type: string
      format: date
    DateTime:
      type: string
      format: date-time
    Json:
      type: object
      additionalProperties: true
    Any:
      nullable: true
    NullableString:
      type: string
      nullable: true
    NullableInteger:
      type: integer
      nullable: true
    NullableBoolean:
      type: boolean
      nullable: true
    NullableNumber:
      type: number
      nullable: true
    Id:
      type: string
      minLength: 1
    ContentHash:
      type: string
    FileStatus:
      type: string
    ResultStatus:
      type: string
    ExportStatus:
      type: string
    Deployment:
      type: object
      additionalProperties: true
    MediaFile:
      type: object
      additionalProperties: true
    AnalyticsReport:
      type: object
      additionalProperties: true
    Usage:
      type: object
      additionalProperties: true
    LimitResult:
      type: object
      additionalProperties: true
    OffsetResult:
      type: object
      additionalProperties: true
    Health:
      type: object
      additionalProperties: true
    VersionInfo:
      type: object
      additionalProperties: true
    Link:
      type: object
      additionalProperties: true
    Links:
      type: object
      additionalProperties: true
    PaginationLinks:
      type: object
      additionalProperties: true
    Audit:
      type: object
      additionalProperties: true
    Permissions:
      type: object
      additionalProperties: true
    Settings:
      type: object
      additionalProperties: true
    Feature:
      type: object
      additionalProperties: true
    Features:
      type: array
      items:
        $ref: "#/components/schemas/Feature"
    Data:
      type: object
      additionalProperties: true
    Payload:
      type: object
      additionalProperties: true
    Response:
      type: object
      additionalProperties: true
    Request:
      type: object
      additionalProperties: true
    MetadataMap:
      type: object
      additionalProperties:
        type: string
    Tags:
      type: array
      items:
        type: string
    Tag:
      type: string
    Description:
      type: string
    Title:
      type: string
    Slug:
      type: string
    Locale:
      type: string
    Language:
      type: string
    Country:
      type: string
    Device:
      type: string
    Browser:
      type: string
    OperatingSystem:
      type: string
    Referrer:
      type: string
    UserAgent:
      type: string
    IpAddress:
      type: string
    Event:
      type: object
      additionalProperties: true
    EventType:
      type: string
    EventData:
      type: object
      additionalProperties: true
    Chart:
      type: object
      additionalProperties: true
    ChartPoint:
      type: object
      additionalProperties: true
    Dimension:
      type: string
    Measure:
      type: number
    Filter:
      type: object
      additionalProperties: true
    Sort:
      type: object
      additionalProperties: true
    Cursor:
      type: string
    NextCursor:
      type: string
      nullable: true
    Total:
      type: integer
      minimum: 0
    PageNumber:
      type: integer
      minimum: 1
    TotalPages:
      type: integer
      minimum: 0
    Bytes:
      type: integer
      minimum: 0
    Percent:
      type: number
      minimum: 0
      maximum: 1
    CountValue:
      type: integer
      minimum: 0
    Boolean:
      type: boolean
    String:
      type: string
    Number:
      type: number
    Integer:
      type: integer
    Object:
      type: object
      additionalProperties: true
    Array:
      type: array
      items:
        type: object
        additionalProperties: true
    Null:
      nullable: true
    Empty:
      type: object
      additionalProperties: false
    Success:
      type: boolean
    Failure:
      type: boolean
    Reason:
      type: string
    Detail:
      type: string
    Warning:
      type: string
    Info:
      type: string
    Debug:
      type: string
    Trace:
      type: string
    Source:
      type: string
    Destination:
      type: string
    Target:
      type: string
    Base:
      type: string
    Head:
      type: string
    CommitMessage:
      type: string
    SourceSha:
      type: string
    OperationsCompleted:
      type: integer
    IsDeploymentBranch:
      type: boolean
    BranchStatus:
      type: string
    CommitStatus:
      type: string
    DeploymentId:
      type: string
    DeploymentUrl:
      type: string
      format: uri
    PreviewUrl:
      type: string
      format: uri
    PdfUrl:
      type: string
      format: uri
    FileUrl:
      type: string
      format: uri
    FileId:
      type: string
    HashAlgorithm:
      type: string
    Checksum:
      type: string
    Uploaded:
      type: boolean
    Reused:
      type: boolean
    Deleted:
      type: boolean
    ReclaimedBytes:
      type: integer
    TotalSearches:
      type: integer
    Sessions:
      type: integer
    PageViews:
      type: integer
    NoResultRate:
      type: number
    ClickThroughRate:
      type: number
    Confidence:
      type: number
    QueryText:
      type: string
    QuestionText:
      type: string
    AnswerText:
      type: string
    FeedbackType:
      type: string
    FeedbackValue:
      type: string
    CommentText:
      type: string
    PageViewsMetric:
      type: integer
    SessionsMetric:
      type: integer
    SearchCount:
      type: integer
    ResultCount:
      type: integer
    ClickCount:
      type: integer
    NoResultCount:
      type: integer
    PositiveCount:
      type: integer
    NegativeCount:
      type: integer
    Average:
      type: number
    Median:
      type: number
    Minimum:
      type: number
    Maximum:
      type: number
    Sum:
      type: number
    PercentageValue:
      type: number
    Unit:
      type: string
    Currency:
      type: string
    Timezone:
      type: string
    TimezoneOffset:
      type: string
    UTC:
      type: string
    ISO8601:
      type: string
    RFC3339:
      type: string
    Markdown:
      type: string
    HTML:
      type: string
    Text:
      type: string
    Binary:
      type: string
      format: binary
    ContentType:
      type: string
    Filename:
      type: string
    Extension:
      type: string
    Directory:
      type: string
    Mime:
      type: string
    Size:
      type: integer
    CreatedAt:
      type: string
      format: date-time
    UpdatedAt:
      type: string
      format: date-time
    PublishedAt:
      type: string
      format: date-time
    StartedAt:
      type: string
      format: date-time
    FinishedAt:
      type: string
      format: date-time
    CompletedAt:
      type: string
      format: date-time
    CancelledAt:
      type: string
      format: date-time
    ExpiresAt:
      type: string
      format: date-time
    Duration:
      type: number
    Latency:
      type: number
    ErrorCode:
      type: string
    HttpStatus:
      type: integer
    RetryAfter:
      type: integer
    RequestId:
      type: string
    CorrelationId:
      type: string
    ApiKeyId:
      type: string
    OrganizationId:
      type: string
    ProjectId:
      type: string
    RepositoryId:
      type: string
    UserId:
      type: string
    SessionId:
      type: string
    TraceId:
      type: string
    SpanId:
      type: string
    CursorPagination:
      type: object
      additionalProperties: true
    OffsetPagination:
      type: object
      additionalProperties: true
    PagePagination:
      type: object
      additionalProperties: true
    SortDirection:
      type: string
      enum:
        - asc
        - desc
    Direction:
      type: string
      enum:
        - inbound
        - outbound
    Environment:
      type: string
      enum:
        - production
        - staging
        - preview
    Provider:
      type: string
    Integration:
      type: object
      additionalProperties: true
    Webhook:
      type: object
      additionalProperties: true
    Notification:
      type: object
      additionalProperties: true
    Job:
      type: object
      additionalProperties: true
    Task:
      type: object
      additionalProperties: true
    Queue:
      type: object
      additionalProperties: true
    QueueItem:
      type: object
      additionalProperties: true
    Log:
      type: object
      additionalProperties: true
    LogEntry:
      type: object
      additionalProperties: true
    MetricPoint:
      type: object
      additionalProperties: true
    Dashboard:
      type: object
      additionalProperties: true
    Report:
      type: object
      additionalProperties: true
    FilterValue:
      type: string
    FilterValues:
      type: array
      items:
        type: string
    QueryParameters:
      type: object
      additionalProperties: true
    Headers:
      type: object
      additionalProperties:
        type: string
    Cookies:
      type: object
      additionalProperties:
        type: string
    FormData:
      type: object
      additionalProperties: true
    MultipartFile:
      type: string
      format: binary
    UrlFile:
      type: object
      required:
        - url
      properties:
        url:
          type: string
        name:
          type: string
        altText:
          type: string
    IdList:
      type: array
      items:
        type: string
        minLength: 1
    FileResultList:
      type: array
      items:
        $ref: "#/components/schemas/FileResult"
    MediaResult:
      type: object
      additionalProperties: true
    MediaResultList:
      type: array
      items:
        $ref: "#/components/schemas/MediaResult"
    ErrorList:
      type: array
      items:
        $ref: "#/components/schemas/Error"
    ResourceList:
      type: array
      items:
        $ref: "#/components/schemas/Resource"
    PageList:
      type: array
      items:
        $ref: "#/components/schemas/Page"
    BranchList:
      type: array
      items:
        $ref: "#/components/schemas/Branch"
    DeploymentList:
      type: array
      items:
        $ref: "#/components/schemas/Deployment"
    PullRequestList:
      type: array
      items:
        $ref: "#/components/schemas/PullRequest"
    AnalyticsEntryList:
      type: array
      items:
        $ref: "#/components/schemas/AnalyticsEntry"
    TrafficPointList:
      type: array
      items:
        $ref: "#/components/schemas/TrafficPoint"
    MediaPage:
      type: object
      additionalProperties: true
    MediaPages:
      type: array
      items:
        $ref: "#/components/schemas/MediaPage"
    AnalyticsDate:
      type: string
      format: date
    AnalyticsDateTime:
      type: string
      format: date-time
    Decimal:
      type: number
    Integer64:
      type: integer
      format: int64
    ByteSize:
      type: integer
      format: int64
      minimum: 0
    TextSearch:
      type: string
    UrlSearch:
      type: string
      format: uri
    SecureUrl:
      type: string
      format: uri
    PublicUrl:
      type: string
      format: uri
    FileKind:
      type: string
    MediaStatus:
      type: string
    ImportStatus:
      type: string
    UploadStatus:
      type: string
    ReplacementStatus:
      type: string
    DeletionStatus:
      type: string
    StorageStatus:
      type: string
    Plan:
      type: object
      additionalProperties: true
    QuotaStatus:
      type: object
      additionalProperties: true
    Limits:
      type: object
      additionalProperties: true
    PermissionsMap:
      type: object
      additionalProperties:
        type: boolean
    Access:
      type: object
      additionalProperties: true
    Authorization:
      type: object
      additionalProperties: true
    Authentication:
      type: object
      additionalProperties: true
    ApiKey:
      type: object
      additionalProperties: true
    BearerToken:
      type: string
    RequestContext:
      type: object
      additionalProperties: true
    ResponseContext:
      type: object
      additionalProperties: true
    TraceContext:
      type: object
      additionalProperties: true
    PaginationContext:
      type: object
      additionalProperties: true
    AnalyticsContext:
      type: object
      additionalProperties: true
    MediaContext:
      type: object
      additionalProperties: true
    StorageContext:
      type: object
      additionalProperties: true
    DeploymentContext:
      type: object
      additionalProperties: true
    ExportContext:
      type: object
      additionalProperties: true
    RepositoryContext:
      type: object
      additionalProperties: true
    PageContext:
      type: object
      additionalProperties: true
    SearchContext:
      type: object
      additionalProperties: true
    ConfigContext:
      type: object
      additionalProperties: true
    FeedbackContext:
      type: object
      additionalProperties: true
    AiContext:
      type: object
      additionalProperties: true
    SearchContextData:
      type: object
      additionalProperties: true
    FileContext:
      type: object
      additionalProperties: true
    OrganizationContext:
      type: object
      additionalProperties: true
    ProjectContext:
      type: object
      additionalProperties: true
    UserContext:
      type: object
      additionalProperties: true
    RequestHeaders:
      type: object
      additionalProperties:
        type: string
    ResponseHeaders:
      type: object
      additionalProperties:
        type: string
    RateLimit:
      type: object
      additionalProperties: true
    RateLimitHeaders:
      type: object
      additionalProperties:
        type: string
    ErrorResponse:
      type: object
      additionalProperties: true
    ValidationError:
      type: object
      additionalProperties: true
    ValidationErrors:
      type: array
      items:
        $ref: "#/components/schemas/ValidationError"
    Problem:
      type: object
      additionalProperties: true
    ProblemDetails:
      type: object
      additionalProperties: true
    RFC7807:
      type: object
      additionalProperties: true
    GenericError:
      type: object
      additionalProperties: true
    ServerError:
      type: object
      additionalProperties: true
    ClientError:
      type: object
      additionalProperties: true
    NotFoundError:
      type: object
      additionalProperties: true
    UnauthorizedError:
      type: object
      additionalProperties: true
    ForbiddenError:
      type: object
      additionalProperties: true
    ConflictError:
      type: object
      additionalProperties: true
    RateLimitError:
      type: object
      additionalProperties: true
    StorageError:
      type: object
      additionalProperties: true
    MediaError:
      type: object
      additionalProperties: true
    AnalyticsError:
      type: object
      additionalProperties: true
    DeploymentError:
      type: object
      additionalProperties: true
    ExportError:
      type: object
      additionalProperties: true
    BranchError:
      type: object
      additionalProperties: true
    PageError:
      type: object
      additionalProperties: true
    SearchError:
      type: object
      additionalProperties: true
    ConfigError:
      type: object
      additionalProperties: true
    GenericResponse:
      type: object
      additionalProperties: true
    GenericRequest:
      type: object
      additionalProperties: true
    GenericResource:
      type: object
      additionalProperties: true
    GenericMetric:
      type: object
      additionalProperties: true
    GenericSeries:
      type: array
      items:
        $ref: "#/components/schemas/GenericMetric"
    GenericPage:
      type: object
      additionalProperties: true
    GenericPagination:
      type: object
      additionalProperties: true
    GenericList:
      type: array
      items:
        type: object
        additionalProperties: true
    GenericMap:
      type: object
      additionalProperties: true
    GenericStringMap:
      type: object
      additionalProperties:
        type: string
    GenericNumberMap:
      type: object
      additionalProperties:
        type: number
    GenericBooleanMap:
      type: object
      additionalProperties:
        type: boolean
    GenericIntegerMap:
      type: object
      additionalProperties:
        type: integer
    GenericNullable:
      nullable: true
    GenericDateRange:
      type: object
      additionalProperties: true
    GenericTimeRange:
      type: object
      additionalProperties: true
    GenericFilter:
      type: object
      additionalProperties: true
    GenericSort:
      type: object
      additionalProperties: true
    GenericQuery:
      type: object
      additionalProperties: true
    GenericResult:
      type: object
      additionalProperties: true
    GenericSummary:
      type: object
      additionalProperties: true
    GenericStatus:
      type: string
    GenericId:
      type: string
    GenericName:
      type: string
    GenericUrl:
      type: string
      format: uri
    GenericDate:
      type: string
      format: date
    GenericDateTime:
      type: string
      format: date-time
    GenericInteger:
      type: integer
    GenericNumber:
      type: number
    GenericBoolean:
      type: boolean
    GenericString:
      type: string
    GenericObjectValue:
      type: object
      additionalProperties: true
    GenericArrayValue:
      type: array
      items:
        type: string
    GenericBinary:
      type: string
      format: binary
    GenericUuid:
      type: string
      format: uuid
    GenericEmail:
      type: string
      format: email
    GenericUri:
      type: string
      format: uri
    GenericDateTimeOffset:
      type: string
      format: date-time
    GenericInt64:
      type: integer
      format: int64
    GenericFloat:
      type: number
      format: float
    GenericDouble:
      type: number
      format: double
    GenericDecimal:
      type: number
    GenericPassword:
      type: string
      format: password
    GenericByte:
      type: string
      format: byte
    GenericJson:
      type: object
      additionalProperties: true
    GenericNull:
      nullable: true
    GenericAny:
      nullable: true
    GenericObjectArray:
      type: array
      items:
        type: object
        additionalProperties: true
    GenericStringArray:
      type: array
      items:
        type: string
    GenericIntegerArray:
      type: array
      items:
        type: integer
    GenericNumberArray:
      type: array
      items:
        type: number
    GenericBooleanArray:
      type: array
      items:
        type: boolean
    GenericUuidArray:
      type: array
      items:
        type: string
        format: uuid
    GenericUriArray:
      type: array
      items:
        type: string
        format: uri
    GenericDateArray:
      type: array
      items:
        type: string
        format: date
    GenericDateTimeArray:
      type: array
      items:
        type: string
        format: date-time
    GenericFileArray:
      type: array
      items:
        type: string
        format: binary
    GenericEnum:
      type: string
    GenericEnumArray:
      type: array
      items:
        type: string
    GenericRequiredObject:
      type: object
      required:
        - id
      properties:
        id:
          type: string
      additionalProperties: true
    GenericTimestampedObject:
      type: object
      properties:
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: true
    GenericIdentifiedObject:
      type: object
      required:
        - id
      properties:
        id:
          type: string
      additionalProperties: true
    GenericNamedObject:
      type: object
      required:
        - name
      properties:
        name:
          type: string
      additionalProperties: true
    GenericPagedResponse:
      type: object
      additionalProperties: true
    GenericErrorResponse:
      type: object
      required:
        - message
      properties:
        message:
          type: string
      additionalProperties: true
    GenericSuccessResponse:
      type: object
      additionalProperties: true
    GenericOperation:
      type: object
      additionalProperties: true
    GenericFile:
      type: object
      additionalProperties: true
    GenericMedia:
      type: object
      additionalProperties: true
    GenericDeployment:
      type: object
      additionalProperties: true
    GenericAnalytics:
      type: object
      additionalProperties: true
    GenericStorage:
      type: object
      additionalProperties: true
    GenericConfiguration:
      type: object
      additionalProperties: true
    GenericPageResource:
      type: object
      additionalProperties: true
    GenericBranchResource:
      type: object
      additionalProperties: true
    GenericPullRequestResource:
      type: object
      additionalProperties: true
    GenericSearchResource:
      type: object
      additionalProperties: true
    GenericExportResource:
      type: object
      additionalProperties: true
    GenericFeedbackResource:
      type: object
      additionalProperties: true
    GenericAiResource:
      type: object
      additionalProperties: true
    GenericReferrerResource:
      type: object
      additionalProperties: true
    GenericTrafficResource:
      type: object
      additionalProperties: true
    GenericQueryResource:
      type: object
      additionalProperties: true
    GenericCommentResource:
      type: object
      additionalProperties: true
    GenericQuestionResource:
      type: object
      additionalProperties: true
    GenericAnswerResource:
      type: object
      additionalProperties: true
    GenericVolumeResource:
      type: object
      additionalProperties: true
    GenericOverviewResource:
      type: object
      additionalProperties: true
    GenericListResource:
      type: object
      additionalProperties: true
    GenericDetailResource:
      type: object
      additionalProperties: true
    GenericStatusResource:
      type: object
      additionalProperties: true
    GenericUsageResource:
      type: object
      additionalProperties: true
    GenericQuotaResource:
      type: object
      additionalProperties: true
    GenericLimitResource:
      type: object
      additionalProperties: true
    GenericOffsetResource:
      type: object
      additionalProperties: true
    GenericPageResult:
      type: object
      additionalProperties: true
    GenericBranchResult:
      type: object
      additionalProperties: true
    GenericDeploymentResult:
      type: object
      additionalProperties: true
    GenericExportResult:
      type: object
      additionalProperties: true
    GenericMediaResult:
      type: object
      additionalProperties: true
    GenericStorageResult:
      type: object
      additionalProperties: true
    GenericAnalyticsResult:
      type: object
      additionalProperties: true
    GenericSearchResult:
      type: object
      additionalProperties: true
    GenericFeedbackResult:
      type: object
      additionalProperties: true
    GenericAiResult:
      type: object
      additionalProperties: true
    GenericTrafficResult:
      type: object
      additionalProperties: true
    GenericReferrerResult:
      type: object
      additionalProperties: true
    GenericQueryResult:
      type: object
      additionalProperties: true
    GenericCommentResult:
      type: object
      additionalProperties: true
    GenericQuestionResult:
      type: object
      additionalProperties: true
    GenericAnswerResult:
      type: object
      additionalProperties: true
    GenericVolumeResult:
      type: object
      additionalProperties: true
    GenericOverviewResult:
      type: object
      additionalProperties: true
    GenericListResult:
      type: object
      additionalProperties: true
    GenericDetailResult:
      type: object
      additionalProperties: true
    GenericStatusResult:
      type: object
      additionalProperties: true
    GenericUsageResult:
      type: object
      additionalProperties: true
    GenericQuotaResult:
      type: object
      additionalProperties: true
    GenericLimitResult:
      type: object
      additionalProperties: true
    GenericOffsetResult:
      type: object
      additionalProperties: true
    GenericPaginationResult:
      type: object
      additionalProperties: true
    GenericErrorResult:
      type: object
      additionalProperties: true
    GenericSuccessResult:
      type: object
      additionalProperties: true
    GenericRequestResult:
      type: object
      additionalProperties: true
    GenericResponseResult:
      type: object
      additionalProperties: true
    GenericDataResult:
      type: object
      additionalProperties: true
    GenericPayloadResult:
      type: object
      additionalProperties: true
    GenericResourceResult:
      type: object
      additionalProperties: true
    GenericObjectResult:
      type: object
      additionalProperties: true
    GenericArrayResult:
      type: array
      items:
        type: object
        additionalProperties: true
    GenericStringResult:
      type: string
    GenericIntegerResult:
      type: integer
    GenericNumberResult:
      type: number
    GenericBooleanResult:
      type: boolean
    GenericDateResult:
      type: string
      format: date
    GenericDateTimeResult:
      type: string
      format: date-time
    GenericUrlResult:
      type: string
      format: uri
    GenericIdResult:
      type: string
    GenericNameResult:
      type: string
    GenericStatusResultValue:
      type: string
    GenericMessageResult:
      type: string
    GenericCodeResult:
      type: string
    GenericReasonResult:
      type: string
    GenericDetailResultValue:
      type: string
    GenericWarningResult:
      type: string
    GenericInfoResult:
      type: string
    GenericDescriptionResult:
      type: string
    GenericTitleResult:
      type: string
    GenericPathResult:
      type: string
    GenericBranchResultValue:
      type: string
    GenericCommitResult:
      type: string
    GenericHashResult:
      type: string
    GenericTokenResult:
      type: string
    GenericFileNameResult:
      type: string
    GenericContentTypeResult:
      type: string
    GenericMediaKindResult:
      type: string
    GenericRoleResult:
      type: string
    GenericEnvironmentResult:
      type: string
    GenericProviderResult:
      type: string
    GenericUnitResult:
      type: string
    GenericCurrencyResult:
      type: string
    GenericTimezoneResult:
      type: string
    GenericLocaleResult:
      type: string
    GenericLanguageResult:
      type: string
    GenericCountryResult:
      type: string
    GenericDeviceResult:
      type: string
    GenericBrowserResult:
      type: string
    GenericOperatingSystemResult:
      type: string
    GenericUserAgentResult:
      type: string
    GenericIpAddressResult:
      type: string
    GenericSessionResult:
      type: string
    GenericRequestIdResult:
      type: string
    GenericCorrelationIdResult:
      type: string
    GenericTraceIdResult:
      type: string
    GenericSpanIdResult:
      type: string
    GenericTimestampResult:
      type: string
      format: date-time
    GenericDateRangeResult:
      type: object
      additionalProperties: true
    GenericPaginationMetadataResult:
      type: object
      additionalProperties: true
    GenericRateLimitResult:
      type: object
      additionalProperties: true
    GenericPermissionResult:
      type: object
      additionalProperties: true
    GenericAuthorizationResult:
      type: object
      additionalProperties: true
    GenericAuthenticationResult:
      type: object
      additionalProperties: true
    GenericAuditResult:
      type: object
      additionalProperties: true
    GenericLinkResult:
      type: object
      additionalProperties: true
    GenericLinksResult:
      type: object
      additionalProperties: true
    GenericFeatureResult:
      type: object
      additionalProperties: true
    GenericSettingsResult:
      type: object
      additionalProperties: true
    GenericPlanResult:
      type: object
      additionalProperties: true
    GenericLimitsResult:
      type: object
      additionalProperties: true
    GenericQuotaStatusResult:
      type: object
      additionalProperties: true
    GenericIntegrationResult:
      type: object
      additionalProperties: true
    GenericWebhookResult:
      type: object
      additionalProperties: true
    GenericNotificationResult:
      type: object
      additionalProperties: true
    GenericJobResult:
      type: object
      additionalProperties: true
    GenericTaskResult:
      type: object
      additionalProperties: true
    GenericQueueResult:
      type: object
      additionalProperties: true
    GenericLogResult:
      type: object
      additionalProperties: true
    GenericDashboardResult:
      type: object
      additionalProperties: true
    GenericReportResult:
      type: object
      additionalProperties: true
    GenericChartResult:
      type: object
      additionalProperties: true
    GenericFilterResult:
      type: object
      additionalProperties: true
    GenericSortResult:
      type: object
      additionalProperties: true
    GenericDimensionResult:
      type: string
    GenericMeasureResult:
      type: number
    GenericMetricResult:
      type: object
      additionalProperties: true
    GenericStatisticResult:
      type: object
      additionalProperties: true
    GenericAverageResult:
      type: number
    GenericMedianResult:
      type: number
    GenericMinimumResult:
      type: number
    GenericMaximumResult:
      type: number
    GenericSumResult:
      type: number
    GenericPercentageResult:
      type: number
    GenericCountResult:
      type: integer
    GenericSizeResult:
      type: integer
    GenericBytesResult:
      type: integer
    GenericDurationResult:
      type: number
    GenericLatencyResult:
      type: number
    GenericRetryAfterResult:
      type: integer
    GenericHttpStatusResult:
      type: integer
    GenericErrorCodeResult:
      type: string
    GenericValidationErrorResult:
      type: object
      additionalProperties: true
    GenericProblemResult:
      type: object
      additionalProperties: true
    GenericProblemDetailsResult:
      type: object
      additionalProperties: true
    GenericServerErrorResult:
      type: object
      additionalProperties: true
    GenericClientErrorResult:
      type: object
      additionalProperties: true
    GenericNotFoundErrorResult:
      type: object
      additionalProperties: true
    GenericUnauthorizedErrorResult:
      type: object
      additionalProperties: true
    GenericForbiddenErrorResult:
      type: object
      additionalProperties: true
    GenericConflictErrorResult:
      type: object
      additionalProperties: true
    GenericRateLimitErrorResult:
      type: object
      additionalProperties: true
    GenericStorageErrorResult:
      type: object
      additionalProperties: true
    GenericMediaErrorResult:
      type: object
      additionalProperties: true
    GenericAnalyticsErrorResult:
      type: object
      additionalProperties: true
    GenericDeploymentErrorResult:
      type: object
      additionalProperties: true
    GenericExportErrorResult:
      type: object
      additionalProperties: true
    GenericBranchErrorResult:
      type: object
      additionalProperties: true
    GenericPageErrorResult:
      type: object
      additionalProperties: true
    GenericSearchErrorResult:
      type: object
      additionalProperties: true
    GenericConfigErrorResult:
      type: object
      additionalProperties: true
    GenericFileErrorResult:
      type: object
      additionalProperties: true
    GenericMediaFileResult:
      type: object
      additionalProperties: true
    GenericStorageUsageResult:
      type: object
      additionalProperties: true
    GenericAnalyticsOverviewResult:
      type: object
      additionalProperties: true
    GenericAnalyticsTrafficResult:
      type: object
      additionalProperties: true
    GenericAnalyticsPagesResult:
      type: object
      additionalProperties: true
    GenericAnalyticsReferrersResult:
      type: object
      additionalProperties: true
    GenericAnalyticsFeedbackResult:
      type: object
      additionalProperties: true
    GenericAnalyticsCommentsResult:
      type: object
      additionalProperties: true
    GenericAnalyticsQuestionsResult:
      type: object
      additionalProperties: true
    GenericAnalyticsAnswerFeedbackResult:
      type: object
      additionalProperties: true
    GenericAnalyticsAiVolumeResult:
      type: object
      additionalProperties: true
    GenericAnalyticsSearchResult:
      type: object
      additionalProperties: true
    GenericAnalyticsSearchVolumeResult:
      type: object
      additionalProperties: true
    GenericAnalyticsSearchQueriesResult:
      type: object
      additionalProperties: true
    GenericAnalyticsSearchResultsResult:
      type: object
      additionalProperties: true
    GenericMediaListResult:
      type: object
      additionalProperties: true
    GenericMediaUploadResult:
      type: object
      additionalProperties: true
    GenericMediaImportResult:
      type: object
      additionalProperties: true
    GenericMediaGetResult:
      type: object
      additionalProperties: true
    GenericMediaUpdateResult:
      type: object
      additionalProperties: true
    GenericMediaDeleteResult:
      type: object
      additionalProperties: true
    GenericMediaReplaceResult:
      type: object
      additionalProperties: true
    GenericMediaBulkDeleteResult:
      type: object
      additionalProperties: true
    GenericStorageUsage:
      type: object
      additionalProperties: true
    GenericDeploymentQueue:
      type: object
      additionalProperties: true
    GenericPdfExport:
      type: object
      additionalProperties: true
    GenericConfigResponse:
      type: object
      additionalProperties: true
    GenericPageResponse:
      type: object
      additionalProperties: true
    GenericBranchResponse:
      type: object
      additionalProperties: true
    GenericPullRequestResponse:
      type: object
      additionalProperties: true
    GenericPushResponse:
      type: object
      additionalProperties: true
    GenericDeploymentResponse:
      type: object
      additionalProperties: true
    GenericAnalyticsResponse:
      type: object
      additionalProperties: true
    GenericMediaResponse:
      type: object
      additionalProperties: true
    GenericStorageResponse:
      type: object
      additionalProperties: true
    GenericErrorResponseData:
      type: object
      additionalProperties: true
    GenericRequestBody:
      type: object
      additionalProperties: true
    GenericResponseBody:
      type: object
      additionalProperties: true
    GenericMultipartBody:
      type: object
      additionalProperties: true
    GenericJsonBody:
      type: object
      additionalProperties: true
    GenericQueryBody:
      type: object
      additionalProperties: true
    GenericPathBody:
      type: object
      additionalProperties: true
    GenericHeaderBody:
      type: object
      additionalProperties: true
    GenericFormBody:
      type: object
      additionalProperties: true
    GenericFileBody:
      type: object
      additionalProperties: true
    GenericUrlBody:
      type: object
      additionalProperties: true
    GenericMetadataBody:
      type: object
      additionalProperties: true
    GenericFilterBody:
      type: object
      additionalProperties: true
    GenericSortBody:
      type: object
      additionalProperties: true
    GenericPaginationBody:
      type: object
      additionalProperties: true
    GenericAnalyticsBody:
      type: object
      additionalProperties: true
    GenericMediaBody:
      type: object
      additionalProperties: true
    GenericStorageBody:
      type: object
      additionalProperties: true
    GenericDeploymentBody:
      type: object
      additionalProperties: true
    GenericExportBody:
      type: object
      additionalProperties: true
    GenericBranchBody:
      type: object
      additionalProperties: true
    GenericPageBody:
      type: object
      additionalProperties: true
    GenericSearchBody:
      type: object
      additionalProperties: true
    GenericConfigBody:
      type: object
      additionalProperties: true
    GenericFeedbackBody:
      type: object
      additionalProperties: true
    GenericAiBody:
      type: object
      additionalProperties: true
    GenericTrafficBody:
      type: object
      additionalProperties: true
    GenericReferrerBody:
      type: object
      additionalProperties: true
    GenericQueryBodyData:
      type: object
      additionalProperties: true
    GenericCommentBody:
      type: object
      additionalProperties: true
    GenericQuestionBody:
      type: object
      additionalProperties: true
    GenericAnswerBody:
      type: object
      additionalProperties: true
    GenericVolumeBody:
      type: object
      additionalProperties: true
    GenericOverviewBody:
      type: object
      additionalProperties: true
    GenericListBody:
      type: object
      additionalProperties: true
    GenericDetailBody:
      type: object
      additionalProperties: true
    GenericStatusBody:
      type: object
      additionalProperties: true
    GenericUsageBody:
      type: object
      additionalProperties: true
    GenericQuotaBody:
      type: object
      additionalProperties: true
    GenericLimitBody:
      type: object
      additionalProperties: true
    GenericOffsetBody:
      type: object
      additionalProperties: true
    GenericPaginationBodyData:
      type: object
      additionalProperties: true
    GenericErrorBody:
      type: object
      additionalProperties: true
    GenericSuccessBody:
      type: object
      additionalProperties: true
    GenericRequestBodyData:
      type: object
      additionalProperties: true
    GenericResponseBodyData:
      type: object
      additionalProperties: true
    GenericDataBody:
      type: object
      additionalProperties: true
    GenericPayloadBody:
      type: object
      additionalProperties: true
    GenericResourceBody:
      type: object
      additionalProperties: true
    GenericObjectBody:
      type: object
      additionalProperties: true
    GenericArrayBody:
      type: array
      items:
        type: object
        additionalProperties: true
    GenericStringBody:
      type: string
    GenericIntegerBody:
      type: integer
    GenericNumberBody:
      type: number
    GenericBooleanBody:
      type: boolean
    GenericDateBody:
      type: string
      format: date
    GenericDateTimeBody:
      type: string
      format: date-time
    GenericUrlBodyData:
      type: string
      format: uri
    GenericIdBody:
      type: string
    GenericNameBody:
      type: string
    GenericStatusBodyData:
      type: string
    GenericMessageBody:
      type: string
    GenericCodeBody:
      type: string
    GenericReasonBody:
      type: string
    GenericDetailBodyData:
      type: string
    GenericWarningBody:
      type: string
    GenericInfoBody:
      type: string
    GenericDescriptionBody:
      type: string
    GenericTitleBody:
      type: string
    GenericPathBodyData:
      type: string
    GenericBranchBodyData:
      type: string
    GenericCommitBody:
      type: string
    GenericHashBody:
      type: string
    GenericTokenBody:
      type: string
    GenericFileNameBody:
      type: string
    GenericContentTypeBody:
      type: string
    GenericMediaKindBody:
      type: string
    GenericRoleBody:
      type: string
    GenericEnvironmentBody:
      type: string
    GenericProviderBody:
      type: string
    GenericUnitBody:
      type: string
    GenericCurrencyBody:
      type: string
    GenericTimezoneBody:
      type: string
    GenericLocaleBody:
      type: string
    GenericLanguageBody:
      type: string
    GenericCountryBody:
      type: string
    GenericDeviceBody:
      type: string
    GenericBrowserBody:
      type: string
    GenericOperatingSystemBody:
      type: string
    GenericUserAgentBody:
      type: string
    GenericIpAddressBody:
      type: string
    GenericSessionBody:
      type: string
    GenericRequestIdBody:
      type: string
    GenericCorrelationIdBody:
      type: string
    GenericTraceIdBody:
      type: string
    GenericSpanIdBody:
      type: string
    GenericTimestampBody:
      type: string
      format: date-time
    GenericDateRangeBody:
      type: object
      additionalProperties: true
[...]
