{
  "openapi": "3.0.3",
  "info": {
    "title": "Documentation.AI Content API",
    "description": "Programmatic access to read and update your documentation. Each API key is scoped to a single documentation project and carries a role (viewer, editor, or admin) that determines which endpoints are accessible.",
    "version": "1.0.0",
    "contact": {
      "name": "Documentation.AI Support",
      "url": "https://documentation.ai"
    }
  },
  "servers": [
    {
      "url": "https://api.documentationai.app/api/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Configuration",
      "description": "Site configuration and documentation.json"
    },
    {
      "name": "Pages",
      "description": "List and read documentation pages"
    },
    {
      "name": "Search",
      "description": "Hybrid semantic and keyword search"
    },
    {
      "name": "Branches",
      "description": "Create, list, delete, and merge branches"
    },
    {
      "name": "Pull Requests",
      "description": "List pull requests in the repository"
    },
    {
      "name": "Push",
      "description": "Push file operations as a single commit"
    }
  ],
  "paths": {
    "/config": {
      "get": {
        "operationId": "getConfig",
        "summary": "Get site configuration",
        "description": "Returns the complete documentation.json file — the navigation tree, branding, SEO settings, and integrations.",
        "tags": ["Configuration"],
        "parameters": [
          {
            "name": "branch",
            "in": "query",
            "description": "Branch name. Defaults to the deployment branch.",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Site configuration returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "branch": { "type": "string", "description": "Resolved branch name", "example": "main" },
                    "config": { "type": "object", "description": "The full documentation.json configuration object" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/search": {
      "get": {
        "operationId": "searchDocumentation",
        "summary": "Search documentation",
        "description": "Performs a hybrid search combining semantic understanding and keyword matching across all indexed documentation pages.",
        "tags": ["Search"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search query",
            "required": true,
            "schema": { "type": "string", "minLength": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "required": false,
            "schema": { "type": "integer", "minimum": 1, "maximum": 50, "default": 10 }
          },
          {
            "name": "semanticRatio",
            "in": "query",
            "description": "Balance between semantic and keyword search. 0 = pure keyword, 1 = pure semantic.",
            "required": false,
            "schema": { "type": "number", "minimum": 0, "maximum": 1, "default": 0.75 }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": { "type": "string" },
                          "path": { "type": "string" },
                          "url": { "type": "string" },
                          "content": { "type": "string", "description": "Matched text snippet" },
                          "relevanceScore": { "type": "number" }
                        }
                      }
                    },
                    "query": { "type": "string" },
                    "count": { "type": "integer" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/pages": {
      "get": {
        "operationId": "listPages",
        "summary": "List all pages",
        "description": "Returns every file in the documentation repository with its path and size in bytes.",
        "tags": ["Pages"],
        "parameters": [
          {
            "name": "branch",
            "in": "query",
            "description": "Branch name. Defaults to the deployment branch.",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "File list returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": { "type": "string", "example": "getting-started/introduction.mdx" },
                          "size": { "type": "integer", "description": "File size in bytes", "example": 2048 }
                        }
                      }
                    },
                    "count": { "type": "integer" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/pages/{path}": {
      "get": {
        "operationId": "getPage",
        "summary": "Get page content",
        "description": "Returns the full content of a documentation page by its file path.",
        "tags": ["Pages"],
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "description": "File path relative to repository root (e.g. `getting-started/introduction.mdx`)",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "branch",
            "in": "query",
            "description": "Branch name. Defaults to the deployment branch.",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Page content returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "path": { "type": "string" },
                    "branch": { "type": "string" },
                    "content": { "type": "string", "description": "Raw file content (MDX, JSON, YAML, etc.)" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/branches": {
      "get": {
        "operationId": "listBranches",
        "summary": "List branches",
        "description": "Returns all branches in the documentation repository.",
        "tags": ["Branches"],
        "responses": {
          "200": {
            "description": "Branch list returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "branches": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": { "type": "string", "example": "main" },
                          "protected": { "type": "boolean" }
                        }
                      }
                    },
                    "count": { "type": "integer" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "operationId": "createBranch",
        "summary": "Create a branch",
        "description": "Creates a new Git branch in the documentation repository. Requires editor or admin role.",
        "tags": ["Branches"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["branchName"],
                "additionalProperties": false,
                "properties": {
                  "branchName": { "type": "string", "minLength": 1, "description": "Name for the new branch", "example": "feature/new-docs" },
                  "sourceBranch": { "type": "string", "description": "Branch to create from. Defaults to the deployment branch." }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Branch created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "branchName": { "type": "string" },
                    "sourceBranch": { "type": "string" },
                    "sourceSha": { "type": "string" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/branches/delete": {
      "post": {
        "operationId": "deleteBranch",
        "summary": "Delete a branch",
        "description": "Deletes a branch from the repository. The deployment branch cannot be deleted. Requires editor or admin role.",
        "tags": ["Branches"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["branchName"],
                "additionalProperties": false,
                "properties": {
                  "branchName": { "type": "string", "minLength": 1, "description": "Branch name to delete" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Branch deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": { "type": "string", "description": "Name of the deleted branch" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/branches/merge": {
      "post": {
        "operationId": "mergeBranches",
        "summary": "Merge branches",
        "description": "Merges one branch into another. If the target branch is the deployment branch, this triggers a live deployment.",
        "tags": ["Branches"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["base", "head"],
                "additionalProperties": false,
                "properties": {
                  "base": { "type": "string", "minLength": 1, "description": "Target branch to merge into", "example": "main" },
                  "head": { "type": "string", "minLength": 1, "description": "Source branch to merge from", "example": "feature/new-docs" },
                  "commitMessage": { "type": "string", "description": "Merge commit message" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Branches merged",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "commitSha": { "type": "string" },
                    "status": { "type": "integer" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/pull-requests": {
      "get": {
        "operationId": "listPullRequests",
        "summary": "List pull requests",
        "description": "Returns pull requests in the documentation repository, filtered by state.",
        "tags": ["Pull Requests"],
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "description": "Filter by PR state",
            "required": false,
            "schema": { "type": "string", "enum": ["open", "closed", "all"], "default": "open" }
          }
        ],
        "responses": {
          "200": {
            "description": "Pull request list returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pullRequests": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "number": { "type": "integer" },
                          "title": { "type": "string" },
                          "state": { "type": "string" },
                          "head": { "type": "string" },
                          "base": { "type": "string" }
                        }
                      }
                    },
                    "count": { "type": "integer" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/push": {
      "post": {
        "operationId": "pushFiles",
        "summary": "Push file changes",
        "description": "Creates, updates, or deletes documentation files in a single Git commit. Supports up to 20 operations per request. Pushing to the deployment branch triggers a live deployment. Requires editor or admin role.",
        "tags": ["Push"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["commitMessage", "operations"],
                "additionalProperties": false,
                "properties": {
                  "commitMessage": { "type": "string", "minLength": 1, "maxLength": 500, "description": "Git commit message" },
                  "branch": { "type": "string", "description": "Target branch. Defaults to the deployment branch." },
                  "operations": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 20,
                    "description": "File operations to perform in this commit",
                    "items": {
                      "type": "object",
                      "required": ["type", "path"],
                      "additionalProperties": false,
                      "properties": {
                        "type": { "type": "string", "enum": ["create", "update", "delete"], "description": "Operation type" },
                        "path": { "type": "string", "minLength": 1, "description": "File path relative to repository root", "example": "getting-started/quickstart.mdx" },
                        "content": { "type": "string", "description": "File content. Required for create and update operations. Omit for delete." }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Changes pushed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "commitSha": { "type": "string", "description": "SHA of the created commit" },
                    "branch": { "type": "string", "description": "Branch the changes were pushed to" },
                    "isDeploymentBranch": { "type": "boolean", "description": "Whether this push triggered a live deployment" },
                    "operationsCompleted": { "type": "integer", "description": "Number of file operations completed" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key generated from the Documentation.AI dashboard (Settings → API Keys). Pass as `Authorization: Bearer dai_...`"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid request parameters",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing or invalid API key",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "Forbidden": {
        "description": "API key role does not have permission for this operation. Write endpoints require editor or admin role.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "TooManyRequests": {
        "description": "Rate limit exceeded. Check `x-ratelimit-limit` and `retry-after` response headers.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "statusCode": { "type": "integer" },
          "error": { "type": "string" },
          "message": { "type": "string" }
        }
      }
    }
  }
}